.h-scroll {
    overflow: auto;
}
.hide {
    display: none;
}

.sub-menu {
    padding-left: 10px !important;
}

.nav-link {
    width: auto !important;
}

.capitalize {
    text-transform: capitalize;
}

.input-files {
    padding: 3px;
}